{#
/**
 * @file trusty_company.html.twig
 * Default theme implementation to present Company data.
 *
 * This template is used when viewing Company pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_trusty_company()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('trusty_company') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
